.nav-barre {
	display: flex;
	justify-content: center;
	padding: 0 20px;
	height: 10vh;
	justify-content: space-between;
	nav {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		.connected {

		}
		.disconnect-button {
			background-color: transparent;
			color: $orange;
			border: solid $orange 2px;
		}
	}
	button {
		width: initial;
	}
	@media (min-width:  $breakpoint-mobile) {
		width: 96%;
		button {
			width: 170px;
		}
	}
}