@import "../../styleGlobaux/graphicalCharter.scss";

.container__SignIn {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    .form__SignIn{
        width: 50%;
        padding: 10px;
        form{
            
        }
    }
    .description{
        width: 50%;
        padding: 10px;
    }
}
