.wrap-disconnect-button {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 250px;

  @media (min-width:  $breakpoint-mobile) {
    top: 55px;
    right: 20px;
  }

  .disconnect-button {
    background-color: #fff;
    border: 2px solid #FF8500;
    border-radius: 6px;
    color: #FF8500;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    width: 159px;
    height: 31px;
  }
}