.personal-information {
    width: 100%;
    h2 {
        font-family: Roboto, sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: #011627;
        padding: 30px;
        text-align: center;
      }
    
    .title-information{
        padding: 1% 3%;
    }
}