.personal-information {
  background: #F5F6FA;
  background-image: url(../../assets/img/map.png);
  background-repeat: no-repeat;
  background-size: 60%;
  height: 100vh;
  overflow: hidden;

  @media (max-width: (500px)) {
    height: auto;
    overflow: visible;
    padding-top: 20vh;
    background-size: 100%;
    background-position-y: 12%;
  }

  .logo_home {
    cursor: pointer;
    max-height: "30px";
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .boxWrapper-i {
    background-color: #F5F6FA;
    border: solid 3vw #fff;
    width: 90%;
    margin: 0 auto;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    @media (max-width: (500px)) {
      border: none;
      width: 100%;
      background-color: #ffffff;
    }
  }

  .wrap-list {
    display: flex;
    width: 100%;
    margin-top: 6%;

    ///// 

    width: 400px;
    height: 5880px;
    display: block;
    background-color: white;
    transform: translateX(-100vh);
    &.active {
      transform: none;
    }
  }

  h1 {
    align-self: flex-start;
    width: 100%;
    padding-left: 5%;
    padding-top: 6%;
    text-align: left;
    font-size: 1.375rem;
    text-transform: none;

    @media (max-width: (500px)) {
      margin-bottom: 20px;
    }
  }

  .wrap-information {
    display: flex;
    width: 100%;
  }

  .back-to-home {
    width: 20%;
    @media (max-width: (500px)) {
      display: block;
      margin: auto;
      width: 100%;
    }
  }

  .arrow-back {
    display: block;
    width: 18%;
    margin: auto;
  }

  .back {
    text-transform: uppercase;
    text-align: center;
    color:#0494FA;
    font-size: 16px;
    font-family: Roboto, sans-serif;
  }
  
}