.background {
  background-image: url(../../assets/img/map.png);
  background-repeat: no-repeat;
  background-size: 60%;

  @media (max-width: (500px)) {
    height: auto;
    overflow: visible;
    padding-top: 20vh;
    background-size: 100%;
    background-position-y: 7%;
  }

  .logo_home {
    max-height: "30px";
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .boxWrapper {
    background-color: #F5F6FA;
    border: solid 3vw #fff;
    width: 90%;
    margin: 0 auto;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: (500px)) {
      border: none;
      width: 100%;
      background-color: #ffffff;
    }
  }


  h1 {
    align-self: flex-start;
    width: 100%;
    padding-left: 5%;
    text-align: left;
  }

  .wrap-form {
    display: flex;
    width: 100%;

    @media (max-width: (500px)) {
      flex-direction: column;
    }
  }

  .back-to-home {
    width: 40%;
    @media (max-width: (500px)) {
      display: block;
      margin: auto;
    }
  }

  .arrow-back {
    display: block;
    width: 20%;
    margin: auto;
  }

  .back {
    text-transform: uppercase;
    text-align: center;
    color:#0494FA;
    font-size: 16px;
    font-family: Roboto, sans-serif;
  }

  .form-profile {
    width: 70%;

    @media (max-width: (500px)) {
      width: 100%;
    }
  }

  p {
    margin-bottom: 20px;
  }

  label {
    display: inline-block;
    margin-bottom: 25px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
  }

  input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid #0494FA;
    border-radius: 5px;
  }

  input[type=text], input[type=number], select, textarea {
    display: block;
    width: 400px;
    height: 45px;
    border: 2px solid #0494FA;
    border-radius: 6px;
    margin-top: 20px;
  }

  ::placeholder {
    color: grey;
    font-size: 16px;
    padding-left: 10px;
  }

  input[type=submit] {
    width: 400px;
    height: 45px;
    background: #0494FA;
    border: 0;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

}