.list {
  background-color: #fff;
  width: 55%;
  margin-left: 6%;

  h2 {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #011627;
    padding: 30px;
  }

  hr {
    width: 100%;
    height: 2px;
    background-color: #F4F4F4;
    margin: 0;
    border: none; /*on supprime le style par défaut*/
  }


  h3{
    font-size: 19px;
    font-weight: Bold;
    color: #0494FA;
    margin-bottom: 10px;

  }

  div.favItem{
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;

    hr{

    }
  }
}