.list {
  background-color: #fff;
  width: 100%;
  max-width: 478px;
  margin: auto;
  hr {
    width: 100%;
    height: 2px;
    background-color: #F4F4F4;
    margin: 0;
    border: none; /*on supprime le style par défaut*/
  }

  h3{
    font-size :22px ;
    font-weight: Bold;
    margin-bottom: 10px;
  }

  .fav-item{
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    .wrapper-hospital{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .icon-list{
      width: 23px;
      height: 23px;
    }
  }
}