.map--wrap {
  width: 100%;
  display: flex;
  position: relative;
  .map__container {
    width: 100%;
  }
  .ranger--label {
    display: block;
    color: $black;
    font-size: 18px;
    font-weight: 600;
  }
  .ranger {
    display: flex;
    font-size: 18px;
    font-weight: 800;
    color: white;
    div {
      height: 50px;
      padding: 10px;
      width: 73px;
      display: flex;
    }
    span {
      display: table;
      margin: auto;
    }
    padding-bottom: 40px;
  }

  .map__gl {
    width: 100%;
    display: flex;
  }
  .switch-button {
    position: absolute;
    right: 0px;
    left: 50%;
    top: 10px;
    z-index: 0;
  }
  .list {
    height: 685px;
    overflow-y: scroll;
    padding-right: 15px;
  }
}

.page__map {
  width: 90%;
}


.view {
  position: relative;
  svg :nth-child(1) {
    overflow: visible;
    display: flex;
    position: relative;
    g {
      stroke-width: 0px;
      cursor: pointer;
      transform: scale(1);
      &:hover {
        transform: scale(1.02);
        stroke: white;
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
        :nth-child(1) {
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
          z-index: 20;
          stroke-width: 12px;
        }
      }
    }
    animation-delay: 3s;
    .ranger-one {
      :nth-child(1) {
        fill: #D0D0D0;
      }
    }
    .ranger-two {
      :nth-child(1) {
        fill: #FFCCA8;
      }
    }
    .ranger-tree {
      :nth-child(1) {
        fill: #FFA962;
      }
    }
    .ranger-four {
      :nth-child(1) {
        fill: #FF8500;
      }
    }
  }

  .card {
    height: 281px;
    width: 305px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
    position: absolute;
    right: 0px;
    left: 60%;
    top: 90px;

    .card--button {
      position: absolute;
    left: -39px;
    right: 0px;
    margin: auto;
    text-align: center;
    width: 305px;
    height: 50px;
    background-color: $blue;;
    color: white;
    font-size: 16px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-weight: 800;
      cursor: pointer;
    }
    }

    .paris{
      font-family: 'Roboto',;
      font-style: Italic;
      font-weight: Bold;
      font-size: 18px;
      color: $blue
    }
    p {
      font-size: 16px;
      font-weight: 500;
      padding: 10px 0;
    }
    .all {
      padding: 20px 0px;
    }
  }
  .one {
    background-color: #D0D0D0;
  }
  .two {
    background-color: #FFCCA8;
  }
  .tree {
    background-color: #FFA962;
  }
  .four {
    background-color: #FF8500;
  }
}

.relative {
  position: relative;
  width: 100%;
}