.box__filtre {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  .instruction {
    font-weight: 100;
    padding-right: 30px;
    font-size: 18px;
    display: table;
  }
}
hr {
  opacity: 0.4;
}

.fitres {
  display: flex;
  flex-wrap: wrap;
  // input {
  //   padding-top: 10px;
  //   width: 100%;
  //   border: none;
  //   color: $color-primary;
  //   min-height: 80%;
  //   position: absolute;
  //   // height: 35px;
  // }
}

.input__filtre {
  position: relative;
  margin-left: 20px;
  padding: 0 5px;
  font: Regular 16px/19px Roboto;
  *{
    font-weight: 400;
  }
  span {
    pointer-events: none;
    // opacity: 0.3;
    z-index: 3;
    background: white;
    left: -1.5%;
    min-width: 103%;
    min-height: 50px;
    border: solid $color-gray 2px;
    border-radius: 40px;
    display: inline-block;
    padding: 4px 10px;
  }
  .placeholder, .text__value, .option__selected {
    height: auto;
    display: table;
    padding-left: 10px;
    color: $color-primary;
  }

  .option__selected {
    width: max-content;
    height: max-content;
    color: white;
    background-color: $color-primary;
    padding: 6px 5px;
    margin: 4px;
    border-radius: 30px;
  }
  .autocomplet {
    position: absolute;
    width: 100%;
    text-align: center;
    div {
      padding: 5px 0px;
    }
  }
}

.button__filtre {
  cursor: pointer;
  background-color: white;
  color: $color-primary;
  border: solid $color-gray 2px;
  font-size: 16px;
  padding: 12px 34px;
  border-radius: 40px;
  margin-left: 10px;
  transition: .5s ease-in-out;
  max-height: 42px;
  margin-bottom: 20px;
  &.active {
    background-color: $color-primary;
    border: solid $color-primary 2px;
    color: white;
  }
}