.list-profiles{
    .new-profile-button{
        position: absolute;
        top: -0px;
        right: 0px;
        color: #FF8500;
        border: solid #FF8500 3px;
        background-color: initial;
        width: 200px;
    }
    .relative {
        width: 100%;
    }
}

.new-profile-button{
    margin: 16px 0;
    color: #FF8500;
    border: solid #FF8500 3px;
    background-color: initial;
    width: 200px;
}