@font-face {
    font-family: 'Assistant';
    src: url('/src/fonts/Assistant-Bold.woff2') format('woff2'),
        url('/src/fonts/Assistant-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('/src/fonts/Assistant-SemiBold.woff2') format('woff2'),
        url('/src/fonts/Assistant-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('/src/fonts/Assistant-ExtraBold.woff2') format('woff2'),
        url('/src/fonts/Assistant-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('/src/fonts/Assistant-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('/src/fonts/Assistant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Assistant';
    src:url('/src/fonts/Assistant-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

