$white: #F5F6FA;
$black: #011627;
$blue: #0494FA;
$orange: #FF8500;

h1{
    font-family: 'Assistant', roboto, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
