$breakpoint-mobile: 768px;
$color-secondary : #F5F6FA; 
$white: #F5F6FA;
$black: #011627;
$blue: #0494FA;
$orange: #FF8500;


@mixin input__clasic {
  display: block;
  height: 40px;
  width:  99%;
  border: 2px solid $blue;
  border-radius: 6px;
  margin: 2% 0px;
}

@mixin button__clasic {
  display: block;
  height: 45px;
  width: 100%;
  background-color: $blue;
  border-radius: 6px;
  font-family: Assistant, roboto, sans-serif;
  font-size: 1.125rem;
  color: $white;
  font-weight: bold;
}
@mixin label__clasic {
  font-family: Assistant, roboto, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}