.map--wrap {
  width: 100%;
  display: flex;
  position: relative;
  .switch-button {
    position: absolute;
    right: 0px;
    left: 50%;
    top: 10px;
    z-index: 0;
  }
  .list {
    height: 685px;
    overflow-y: scroll;
  }
  .map__container {
    padding-top: 65px;
  }
}

.page__map {
  width: 90%;
}

.view {
  svg :nth-child(1) {
    overflow: visible;
    display: flex;
    position: relative;
    g {
      stroke-width: 0px;
      cursor: pointer;
      transform: scale(1);
      &:hover {
        transform: scale(1.02);
        stroke: white;
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
        :nth-child(1) {
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
          z-index: 20;
          stroke-width: 12px;
        }
      }
    }
    animation-delay: 3s;
    .ranger-one {
      :nth-child(1) {
        fill: #D0D0D0;
      }
    }
    .ranger-two {
      :nth-child(1) {
        fill: #FFCCA8;
      }
    }
    .ranger-tree {
      :nth-child(1) {
        fill: #FFA962;
      }
    }
    .ranger-four {
      :nth-child(1) {
        fill: #FF8500;
      }
    }
  }
  
}