.map--wrap {
  width: 100%;
  display: flex;
  position: relative;
  .switch-button {
    position: absolute;
    right: 0px;
    left: 50%;
    z-index: 0;
  }
  .list {
    height: 685px;
    overflow-y: scroll;
  }
  .map__container {
    padding-top: 65px;
  }
}

.page__map {
  width: 90%;
}