/////// start

$color-primary: #0494fa;


.datavis {
  .view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .container__map {
    overflow: scroll;
    width: 578px;
    display: table;
  }
  svg {
    overflow: visible;
    filter: drop-shadow(0 0 0.75rem rgb(231, 231, 231));
    * {
      transition: 1s;
    }
  }
  
  svg :nth-child(1) {
    overflow: visible;
    display: flex;
    position: relative;
    g {
      stroke-width: 0px;
      cursor: pointer;
      transform: scale(1);
      &:hover {
        transform: scale(1.02);
        stroke: white;
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
        :nth-child(1) {
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
          z-index: 20;
          stroke-width: 12px;
        }
      }
    }
    animation-delay: 3s;
    .many {
      :nth-child(1) {
        fill: #0459fa;
      }
    }
    .middle {
      :nth-child(1) {
        fill: #66bffd;
      }
    }
    .Few {
      :nth-child(1) {
        fill: #ff8500;
      }
    }
  }
  
  
  .container__graphe {
    max-height: 449px;
    height: 100%;
    max-width: 361px;
    width: 100%;
    position: relative;
    display: flex;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  
    .background__number {
      pointer-events: none;
      position: absolute;
      font-size: 300px;
      text-align: center;
      left: 0px;
      height: 100%;
      width: 100%;
      display: table;
      color: #EAF6FF;
      display: flex;
      flex-direction: column;
      justify-content: center;
      webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
    }
  }
  
  .graphes {
    padding: 40px;
    h1 {
      color: $color-primary;
      font-size: 18px;
      font-weight: 900;
    }
  }  
}
