@import "../../styleGlobaux/graphicalCharter.scss";

.s1 {
  position: absolute;
  bottom: 0;
  width: 90vw;
  height: 90vh;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  
  .s2 {
  margin : auto;
  margin-top: 4rem;
  width: 80vw;
  height: 80vh;
  background-color: #F5F6FA;

    h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #011627;
    text-transform: uppercase;
    padding-top: 60px;
    padding-left: 60px;
    }
  }
}