@import "../../styleGlobaux/graphicalCharter.scss";

.create-profile {
  position: absolute;
  width: 287px;
  height: 223px;
  background-color: #FFFFFF;
  top: 269px;
  left: 550px;
  cursor: pointer;

  .user {
    position: absolute;
    height: 121px;
    width: 106px;
    padding-top: 40px;
    padding-left: 90px;
  }

  .profile-button {
    position: absolute;
    background: #FF8500;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    color: white;
    width: 287px;
    height: 45px;
    bottom: 0;
  }
}