.background-profiles {
  background-image: url(../../assets/img/map.png);
  background-repeat: no-repeat;
  background-size: 60%;
  min-height: 100vh;
  overflow: hidden;

  @media (min-width:  $breakpoint-mobile) {
    height: auto;
    overflow: visible;
    padding-top: 20vh;
    background-size: 100%;
    background-position-y: 12%;
  }





  .list-profiles {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    > *{
      margin-right: 20px;
    }

    @media (min-width:  $breakpoint-mobile) {
      display: block;
      width: 88%;
    }
  }
}

